/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
/* css-reset-end */

@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
.wrapper{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	
	max-width: 100%;
}

.header{
	width: 100%;
	height: 100px;
	padding: 0 42px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}
@media(max-width: 767px){
	.header{
		display: flex;
		padding: 0;
		height: auto;
		flex-wrap: nowrap;
		position: relative;
	}
}
.logo{
	width: 220px;
	height: 100%;
	background-image: url('../images/logo-all-dark.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;

}
@media(max-width: 767px){
	.logo{
		padding: 30px 0;
		margin: 0 30px;
		width: 40%;
	}
	.logo.mb{
		background-image: url("../images/logotype-lg-dark.svg");
	}
}
.shopping-page-link-mb{
	display: none;
}
@media(max-width: 767px){
	.shopping-page-link-mb{
		display: block;
	}
	.shopping-page-link-mb a{
		display: block;
		padding: 30px;
		color: #3f5d45;
	}
	.shopping-page-link-mb a:hover{
		background-color: #eaf0ed;
	}
}
.top-menu-pc{
	color: #3f5d45;
	font-weight: bold;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media(max-width: 767px){
	.top-menu-pc{
		display: none;
	}
}

.top-menu-pc ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;

}
.top-menu-pc ul li{
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.top-menu-pc ul li a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
	text-decoration: none;
	color: #3f5d45;
	font-weight: bold;
	transition: all .3s;
}
.top-menu-pc ul li a:hover{
	border-bottom: 5px solid #ffd180;
	background-color: #3f5d45;
	color: #ffffff;

}
/* 手機版漢堡選單 */
.top-menu-mb{
	width: 100px;
	display: none;
}
@media(max-width: 767px){
	.top-menu-mb{
		display: block;
	}
}
.drop-down{
	width: 100%;
	height: 100%;
	min-width: 44px;
	min-height: 44px;
	
	display: block;
	padding: 42px 30px;
}
.drop-down:hover{
	background-color: #eaf0ed;

}
.drop-down span{
	display: block;
	width: 18px;
	height: 3px;
	background-color: #3f5d45;

	position: relative;
	top: 50%;
	left: 0%;
	right: -50%;
	bottom: 50%;
	margin: 0 auto;
}
.drop-down.click span{
	background-color: transparent;
}
.drop-down span::before{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #3f5d45;
	position: relative;
	top: -6px;
	transition: all .3s;
}
.drop-down.click span::before{
	top: 0;
	transform: rotate(120deg);
}
.drop-down span::after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #3f5d45;
	position: relative;
	top: 3px;
	transition: all .3s;
}
.drop-down.click span::after{
	top: -3px;
	transform: rotate(-120deg);
}
.top-menu-mb ul{
	display: none;
	position:absolute;
	z-index: 10;
	width: 100%;
}
.top-menu-mb ul li{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	background-color: rgba(63, 93, 69, 0.75);
}
.top-menu-mb ul li:hover{
	background-color: rgba(255, 215, 110, 1);
}
.top-menu-mb ul li a{
	display: block;
	width: 100%;
	text-decoration: none;
	font-size: 20px;
	color: #eaf0ed;
	text-align: center;
	padding: 12px 0;
}

.top-menu-mb ul li a:hover{
	color: #3f5d45;
}

/* 主頁面 */

.container{
	width: 100%;	
	padding: 0 42px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	
}
@media(max-width: 767px){
	.container{
		padding: 0 0;
	}
}
/* 宣傳圖區域 */

.banner{
	width: 100%;
	
}
@media(max-width: 767px){
	.banner{
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
	}
}
/* 表頭大圖 */
.banner .img{
	width: 100%;
	height: 496px;
	background-image: url('../images/home-banner(4000x3201)_tiny.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -127px;
    position: relative;
    z-index: 5;
}
@media(max-width: 767px){
	.banner .img{
		max-width: 100%;
		max-height: 277px;
		background-position: center;
	}
}
.banner ul{
	position: relative;
	left: 0;
	top: -92px;
	z-index: 6;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
@media(max-width: 767px){
	.banner ul{
		max-width: 100%;
		top: 0;
	}
}
.banner ul li{
	float: right;
	width: 259px;
	height: 256px;
	background-image: url('../images/banner-menu_1(300x450).jpg');
	background-size: cover;
	background-position: center;
	border: 2px solid #ffffff;
	
}
@media(max-width: 767px){
	.banner ul li{
		max-width: 33.33333%;
	}
}
.banner ul li:nth-child(2){
	background-image: url('../images/banner-menu_2(300x403).jpg');
}
.banner ul li:nth-child(3){
	background-image: url('../images/banner-menu_3(300x373).jpg');
}
.banner ul li a{
	display: block;
	writing-mode: vertical-lr;
	text-decoration: none;
	padding: 62px 116px 58px 116px;	
	font-size: 24px;
	color: #ffffff;
	letter-spacing: 9px;
	background-color: rgba(63, 93, 69, 0.8);
}
@media(max-width: 767px){
	.banner ul li a{
		width: 100%;
		height: 100%;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

	}
}
.banner ul li a:hover{
	color: #3f5d45;
	background-color: rgba(255, 225, 128, 0.9);
}

/* 首頁banner結束 */
.main{
	width: 100%;
	
}
@media(max-width: 767px){
	.content{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}
}

.content div{
	writing-mode: vertical-rl;
	color: #3f5d45;
	font-family: Microsoft JhengHei;


}
@media(max-width: 767px){
	.content div{
		writing-mode: horizontal-tb;
	}
}
.content_box {
	background-color:#EAF0ED;
	width: 100%;
	height: 420px;
	padding: 0 42px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media(max-width: 767px){
	.content_box{
		height: auto;
		padding: 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		flex-wrap: nowrap;
	}
}
.content_box h2{
	display:block;
	width: 88px;
	margin-left: 65px;
	position: relative;
	top: -80px;
}

#home-content_box-wyc-h2-pc{
	display: block;
}
#home-content_box-wyc-h2-mb{
	display: none;
}
@media(max-width: 767px){
	#home-content_box-wyc-h2-pc{
		display: none;
	}
	#home-content_box-wyc-h2-mb{
		display: block;
		width: 60%;
		height:100%;
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
		margin: 30px 89px 30px 90px;
		padding: 0;
		order: -1;	
	}
}

#home-content_box-wye-h2-pc{
	display: block;
}
#home-content_box-wye-h2-mb{
	display: none;
}
@media(max-width: 767px){
	#home-content_box-wye-h2-pc{
		display: none;
	}
	#home-content_box-wye-h2-mb{
		display: block;
		width: 60%;
		height: 100%;
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
		margin: 30px 89px 30px 90px;
		padding: 0;
		order: -1;
	}
}


.content_box span{
	width: 460px;
	height: 460px;
	position: relative;
	top: -20px;
	background-color: gray;
	background-image: url('../images/home-dessert_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
@media(max-width: 767px){
	.content_box span{
		width: 100%;
		height: 250px;
		position: relative;
		top: 0;
		left: 0;
	}
}
.content_box p{
	padding: 70px 0px;
	margin-left: 23px;
	font-size: 16px;
	line-height: 39px;
}
@media(max-width: 767px){
	.content_box  p{
		padding: 30px;
		margin: 0;
		background-color: #eaf0ed;
	}
}

.content div:nth-child(1){
	margin-bottom: 106px;

}
@media(max-width: 767px){
	.content div:nth-child(1){
		margin-bottom: 0;
	}
}
@media(max-width: 767px){
	.content div:nth-child(1) span{
		order: 1;
	}
}

.content div:nth-child(2) span{
	background-image: url('../images/home-dessert_2.jpg');
	
	order: -1;
}
.content div:nth-child(2) h2{
	order: 1;
	margin-right: 42px;
 
}
@media(max-width: 767px){
	.content div:nth-child(1) p{
		order: 2;
	}
}
.content div:nth-child(2) p{
	order: 2;
	margin-left: 0;
}

#home-content_box-dnr-h2-pc{
	width: 100%;
	height: 327px;
	background-image: url("../images/lg-想吃甜點是不需要理由的.svg");
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 95px 0 89px 0;
}
#home-content_box-dnr-h2-mb{
	display: none;
	margin: 0 auto;
	width: 100%;
	
	background-image: url("../images/sm-橫式-想吃甜點是不需要理由的.svg");
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
@media(max-width: 767px){
	#home-content_box-dnr-h2-pc{
		display: none;
	}
	#home-content_box-dnr-h2-mb{
		display: block;
		width: 60%;
		height: 327px;
	}
}

/* 首頁的購物清單 */
.home-dessert-list{
	width: 100%;
	height: 472px;
	
	padding: 0 42px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	margin-bottom: 60px;
}
@media(max-width: 767px){
	.home-dessert-list{
		max-width: 100%;
		padding: 0;
		justify-content: space-around;
	}
	.home-dessert-list div:nth-child(3){
		display: none;
	}
}
@media(max-width: 585px){
	.home-dessert-list div:nth-child(2){
		display: none;
	}
	.home-dessert-list li:nth-child(2) div:nth-child(2){
		display: flex;
	}
}
.home-dessert-card{
	width: 300px;
	height: 100%;
	position: relative;

}
.ribbon{
	display: inline-block;
	width: 36px;
	padding: 10px;
	writing-mode: vertical-lr;
	background-color: #3f5d45;
	color: #EAF0ED;
	letter-spacing: 4px;
	position: absolute;
	left: 20px;
	font-size: 16px;
}
.far.fa-heart{
	position: absolute;
	color: #3f5d45;
	font-size: 20px;
	right: 22px;
	top: 19px;

}
.far.fa-heart:hover{
	cursor: pointer;
}
.far.fa-heart.click{
	color: #ffffff;
	border: 10px solid pink;
	border-radius: 180px;
	background-color: pink;
	right: 12px;
	top: 9px;
	
}

.home-dessert-card ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
}
.home-dessert-card ul li{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	text-align: center;
}
#home-dessert-card-bg1{
	background-image: url('../images/home_cart_dessert_1(300x450).jpg');
	width: 100%;
	height: 351px;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
#home-dessert-card-bg2{
	background-image: url('../images/home_cart_dessert_2(300x375).jpg');
	width: 100%;
	height: 351px;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
#home-dessert-card-bg3{
	background-image: url('../images/home_cart_dessert_3(300x450).jpg');
	width: 100%;
	height: 352px;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.home-dessert-card ul li:nth-child(2){
	height: 56px;
}

.home-dessert-card div{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #EAF0ED;
	color: #3f5d45;
	background-color: #ffffff;
	font-size: 20px;
}
.dessert-price{
	font-weight: bold;

}
.home-dessert-card input{
	width: 100%;
	height: 65px;
	background-color: #EAF0ED;
	border: none;
	color: #3f5d45;
	font-weight: bold;
	font-size: 24px;
}
.home-dessert-card input:hover{
	cursor: pointer;
	background-color: #ffe180;
}
/* 首頁內容結束，product內容開始 */

.product-container{
	width: 100%;
	padding: 0 42px;
}

@media(max-width: 767px){
	.product-container{
		padding: 0;
	}
}
.product-banner{
	width: 100%;
	height: 496px;
	background-image: url('../images/product-banner(2000x1282).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: right;
	padding: 40px 40px 0 0;
}
@media(max-width: 767px){
	.product-banner{
		height: 277px;
		padding: 30px;
		background-position: 90% center;
	}
}
.product-banner img{
	width: 89px;
}
@media(max-width: 767px){
	.product-banner img{
		width: 59px;
	}
}
.product-main{
	padding: 60px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
}
@media(max-width: 767px){
	.product-main{
		padding: 0;
		flex-wrap: wrap;
	}
}
.product-menu{
	width: 300px;
	height: 325px;

	margin-right: 30px;
	
}
@media(max-width: 767px){
	.product-menu{
		width: 100%;
		margin-right: 0;	
	}
}
.product-menu ul{
	width: 100%;
}

.product-menu ul li{
	width: 100%;
	height: 65px;
	font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	border: 1px solid #EAF0ED;
	font-family: ‘cwTeXYen’, sans-serif;
	font-weight: 800;
	color: #3f5d45;
}
.product-menu ul li:nth-child(1){
	background-color: #3f5d45;
	color: #eaf0ed;
}

.product-menu ul li p{
	font-family: cwTeXYen, sans-serif;
	color: #eaf0ed;
}
.product-menu ul li a{
	display: block;
	font-family: ‘cwTeXYen’, sans-serif;
	text-align: center;
	text-decoration: none;
	color: #3f5d45;
	height: 100%;
	width: 100%;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-menu ul li a:hover{
	background-color: #EAF0ED;

}
.product-list{
	width: 620px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media(max-width: 767px){
	.product-list{
		width: 100%;
		padding: 30px;
		padding-right: 0;
	}
}
.product-list ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	flex-wrap: wrap;
	align-content: space-between;
}
@media(max-width: 767px){
	.product-list ul{
		justify-content: center;
	}
}
.product-dessert-card{
	width: 300px;
	min-width: 200px;

	position: relative;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
}
@media(max-width: 767px){
	.product-dessert-card{
		max-width: 300px;
		margin-right: 30px;
	}
}
.product-dessert-card ul{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.product-dessert-card ul li{
	color: #3f5d45;
}
.product-dessert-card ul li:nth-child(2){
    height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
}
.product-dessert-card div{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	border: 1px solid #eaf0ed;

}
.product-dessert-card p{
	font-family: ‘cwTeXYen’, sans-serif;
	font-size: 20px;

}

.product-dessert-card ul li input{
	width: 100%;
	height: 65px;
	font-size: 24px;
	background-color: #eaf0ed;
	font-family: ‘cwTeXYen’, sans-serif;
	color: #3f5d45;
	font-weight: bold;
	border: none;
}
.product-dessert-card ul li input:hover{
	background-color: #ffe180;
	cursor: pointer;
}
#product-dessert-card-bg1{
	width: 100%;
	height: 315px;
	background-image: url('../images/product-dessert-list-1(400x266).jpg');
	background-size: cover;
	background-position: center;
}
#product-dessert-card-bg2{
	width: 100%;
	height: 315px;
	background-image: url('../images/product-dessert-list-2(300x450).jpg');
	background-size: cover;
	background-position: center;
}
#product-dessert-card-bg3{
	width: 100%;
	height: 315px;
	background-image: url('../images/product-dessert-list-3(476x317).jpg');
	background-size: cover;
	background-position: center;
}
#product-dessert-card-bg4{
	width: 100%;
	height: 315px;
	background-image: url('../images/product-dessert-list-4(300x375).jpg');
	background-size: cover;
	background-position: center;
}
#product-dessert-card-bg5{
	width: 100%;
	height: 315px;
	background-image: url('../images/product-dessert-list-5(310x388).jpg');
	background-size: cover;
	background-position: center;
}
#product-dessert-card-bg6{
	width: 100%;
	height: 315px;
	background-image: url('../images/product-dessert-list-6(300x389).jpg');
	background-size: cover;
	background-position: center;
}
.next-page{
	width: 300px;
	align-self: flex-end;
}
@media(max-width: 767px){
	.next-page{
		align-self: center;
		margin-right: 30px;
	}
}
.next-page ul{

	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	height: 60px;
	margin-top: 10px;
}
.next-page ul li{
	width: 60px;
	height: 100%;
	text-align: center;
	font-size: 20px;
	
}
.next-page ul li a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #3f5d45;
	border: 1px solid #eaf0ed;
}
.next-page ul li a:hover{
	background-color: #3f5d45;
	color: #eaf0ed;
}
.next-page ul li a:active{
	background-color: #3f5d45;
	color: #eaf0ed;
}

/* 登入頁面內容開始 */
.login-container{
	width: 100%;
	padding: 60px 122px 0 122px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
@media(max-width: 767px){
	.login-container{
		padding: 0;
	}
}
.member-login{
	width: 390px;
	background-color: #3f5d45;
	text-align: left;
	margin-bottom: 60px;	
}
@media(max-width: 767px){
	.member-login{
		width: 100%;
		margin-bottom: 0;
	}
}
.member-login h2{
	font-size: 36px;
	padding: 40px 0;
	text-align: center;
	line-height: 36px;
	color: #EAF0ED;

}
.social-account-mb{
	display: none;
}
@media(max-width: 767px){
	.social-account-mb{
		display: block;
		width: 100%;
		background-color: #eaf0ed;
		height: 116px;
		padding: 30px;
		margin-bottom: 30px;
	}
	.social-account-mb ul{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: center;
	}
	.social-account-mb ul li{
		width: 33.33333%;
		height: 100%;
	}
	.social-account-mb ul li:nth-child(2) a{
		padding: 12px 0;
	}
	.social-account-mb ul li a{
		display: block;
		width: 100%;
		height: 100%;
		padding: 17px 0;
		background-color: #ffffff;
		border-right: 1px solid #eaf0ed;
	}
	.social-account-mb ul li a img{
		width: 100%;
		height: 100%;
	}
	.social-account-mb ul li a:hover{
		background-color: #ffe180;
		color: ;
	}
}
.member-login form{
	padding: 0 30px;
	color: #EAF0ED;
	

}
.member-login div{
	width: 330px;
	height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	margin-bottom:16px;
	
}
@media(max-width: 767px){
	.member-login div{
		margin: 0 auto 16px auto;
	}
}
@media(max-width: 585px){
	.member-login div {
		max-width: 100%;
	}
}
.member-login div:nth-child(3){
	height: 45px;
	margin-bottom:25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.member-login .text{
	width: 264px;
	height: 56px;
	color: #3f5d45;
	border: none;
	background-color: #EAF0ED;
    outline: none;

}
@media(max-width: 767px){
	.member-login .text{
		width: 100%;
	}
}
.member-login .text::placeholder{
	color: #8DA291;
	font-size: 16px; 
	padding: 0 5px;
}
.member-login .material-icons{
    padding: 18px 0; 
	width: 64px;
	font-size: 20px;
	color: #3f5d45;
	background-color: #EAF0ED;
    text-align: center;
   

}
.member-login .checkbox{
	width: 16px;
	height: 16px;
	
	text-align: left;
}
.member-login p{
	

}
.member-login .button{
	width: 100%;
	height: 65px;
	background-color: #eaf0ed;
	color: #3f5d45;
	border: none;
	font-size: 24px;	
}
.member-login .button:hover{

	background-color: #ffe180;
	color: #3f5d45;
}

.social-account{
	width: 390px;
	height: 350px;
	background-color: #EAF0ED;
	color: #8DA291;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	padding: 0 30px;
	margin-bottom: 60px;
}
@media(max-width: 767px){
	.social-account{
		display: none;
	}
}
.social-account h2{
	font-size: 24px;
    padding: 40px 0 36px 0;
    position: relative;
}
.social-account h2::before{
	position: absolute;
    content: '';
    width: 30%;
    height: 1px;
    background-color: #8da291;
    top: 50%;
    left: -50px;
    z-index: 1;
}
.social-account h2::after{
	position: absolute;
	content: "";
	width: 30%;
	height: 1px;
	background-color: #8da291;
	top: 50%;
	left: 150px;
	z-index: 1;
}
.social-account div{
	height: 56px;
	margin-bottom: 16px;
    background-color: #ffffff;
}
.social-account button{
	width: 330px;
	height: 56px;
	background-color: transparent;
	border: none;
	color: #8da291;
	font-size: 20px;
	transition: all .5s;
	padding: 17px 0;
}

.social-account div:nth-child(3) button{
	padding: 12px 0;
}
.social-account button img{
	width: 100%;
	height: 100%;
}
.social-account button:hover{
	color: #3f5d45;
}
.social-account div:hover{
	
	background-color: #ffe180;
	box-shadow: 3px 3px 10px #626756;
}

/* 購物車頁面 */
.cart-container{
	width: 100%;
	padding: 39px 42px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
}
@media(max-width: 945px){
	.cart-container{
		flex-wrap: wrap;
		padding: 0;		
	}
}
/* 結帳頁面購物車 */
.your-cart{
	width: 100%;
	
}
@media(max-width: 945px){
	.your-cart{
		margin-bottom: 30px;
	}
}
.your-cart h2{
	width: 100%;
	background-color: #eaf0ed;
	color: #3f5d45;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 16px 0;
}
.your-cart ul{
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding: 20px 0;
	border-bottom: 1px solid #eaf0ed;

}
@media(max-width: 945px){
	.your-cart ul{
		padding: 20px 10%;
	}
}
@media(max-width: 585px){
	.your-cart ul{
	
		flex-wrap: wrap;
		justify-content: center;
	}
}
.your-cart ul li{
	
	display: flex;
	flex-direction: row;
	font-size: 20px;
	color: #3f5d45;
	
	flex-wrap: wrap;

}
.your-cart ul li span{
	width: 110px;
	height: 110px;
	background-image: url("../images/your-dessert-cart-1(127x159).jpg");
	background-size: cover;
	background-position: center;

}
#your-dessert-bg2{
	background-image: url("../images/your-dessert-cart-2(119x151).jpg");
}
#your-dessert-bg3{
	background-image: url("../images/your-dessert-cart-3(119x80).jpg");
}
@media(max-width: 945px){
	.your-cart ul li span{
		margin-left: 30px;
	}
}
@media(max-width: 667px){
	.your-cart ul li span{
		margin-left: 0;
	}
}

.your-cart ul li:nth-child(2){
	margin: 0 20px;
}
@media(max-width: 951px){
	.your-cart ul li:nth-child(2){
		justify-content: center;
	}
}
@media(max-width: 604px){
	.your-cart ul li:nth-child(2){
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;

	}
}
@media(max-width: 585px){
	.your-cart ul li:nth-child(1){
		width: 50%;
		justify-content: center;
	}
	.your-cart ul li:nth-child(2){
		width: 50%;
		align-items: flex-end;
		height: 100%;
		padding: 3px 0;
	}
}
.the-dessert{
	display: flex;
	flex-direction: column;
	margin-right: 39px;
}
@media(max-width: 585px){
	.the-dessert{
		width: 144px;
		margin-right: 0;
	}
}
.number{
	width: 144px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #eaf0ed;
	border-bottom: 1px solid #eaf0ed;
}
.number button{
	width: 48px;
	height: 48px;
	background-color: #ffffff;
	color: #3f5d45;
	border: 1px solid #eaf0ed;
}
.number button:hover{
	background-color: #3f5d45;
	color: #ffe180;
}
.your-cart ul li:nth-child(2) p{

    margin-bottom: 8px;
}

@media(max-width: 585px){
	.your-cart ul li:nth-child(3){
		width: 100%;
		justify-content: flex-end;
		border-top: 1px solid #eaf0ed;
		border-bottom: 1px solid #eaf0ed;
		padding: 8px 0;
		margin-top: 8px;
	}
}
.your-cart ul li a{
	text-decoration: none;
	color: #8da291;
	margin:0 30px;
}
.your-cart ul li a:hover{
	color: #ffe180;
	background: #3f5d45;
	border-radius: 50px;
	border: 5px solid #3f5d45;
	margin:0 25px;
}
@media(max-width: 667px){
	.your-cart ul li:nth-child(4){
		display: none;
	}
}
/* 結帳頁面帳單 */

.your-order-summary{
	width: 300px;
	background-color: #3f5d45;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	color: #eaf0ed;
	margin-left: 20px;
}
@media(max-width: 945px){
	.your-order-summary{
		width: 100%;
		margin-left: 0;
		background-color:#ffffff ;
		color: #3f5d45;

	}
}
.your-order-summary h2{
	text-align: center;
	width: 260px;
	font-size: 24px;
	padding: 16px 0;
	border-bottom: 2px solid #eaf0ed;
}
@media(max-width: 945px){
	.your-order-summary h2{
		width: 80%;
		background-color: #eaf0ed;
		color: #3f5d45;
		font-weight: bold;
	}
}
.your-order-summary div{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 18px 0 18px;
	font-size: 16px;
}
@media(max-width: 945px){
	.your-order-summary div{
		padding: 16px 10% 0 10%;
	}
}
.your-order-summary div p:nth-child(1){
	text-align: left;
}
.your-order-summary .total{
	font-size: 20px;
	margin-bottom: 16px;
}
.your-order-summary a{
	width: 100%;
	height: 65px;
}
.your-order-summary button{
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: #3f5d45;
	background-color: #eaf0ed;
	border: none;
	transition: all .5s;
}
.your-order-summary button:hover{
	background-color:#ffe180;
	color: #3f5d45;
}
/* checkout-1內容開始 */
.checkout1-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 60px 122px;
}
@media(max-width:767px){
	.checkout1-container{
		flex-direction: column;
		padding: 0;
	}
}
.transport{
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: stretch;
	background-color: #3f5d45;
	color: #eaf0ed;
	padding-top: 40px;
}
@media(max-width: 858px){
	.transport{
		width: 100%;

	}
}
.transport-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding-right: 40px;
	padding-bottom: 14px;
}
.transport.data-process{
	display: none;
}

.transport h2{
	width: 50%;
	text-align: left;
	font-size: 36px;
	padding-left: 40px;
	font-weight: bold;
}
.transport-process{
	width: 50%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.transport .circle{
	text-align: right;
	padding: 0;
	width: 20px;
	height: 20px;
	background-color: #3f5d45;
	border: 2px solid #eaf0ed;
	border-radius: 180px;
	position: relative;
	z-index: 2;

}
.transport .circle.active::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	width: 14px;
	height: 14px;
	background: #eaf0ed;
	border-radius: 180px;
}
.transport .circle.complete::after{
	content: "";
	position: absolute;
	width: 6px;
	height: 12px;
	top: 50%;
	left: 60%;
	transform: translate(-60%, -50%) rotate(45deg);
	z-index: 3;
	border-right: 2px solid #eaf0ed;
	border-bottom: 2px solid #eaf0ed;
}
.transport .bar{
	height: 2px;
	width: 100%;
	background-color: #eaf0ed;
	position: absolute;
	top: 50%;
	z-index: 1;

}
.transport form{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	flex-wrap: wrap;

}

.transport form p{
	font-size: 20px;
	padding: 16px 0 8px 0;
	
}

.transport .your-name{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 40px;
	flex-wrap: wrap;
}
.transport .your-name div{
	width: 49%;
}
.transport .your-name p{
	width: 100%;

}
.transport .your-tel{
	width: 100%;
	height: 100px;
	margin: 0 40px;

}
.transport .your-address{
	width: 100%;

	margin: 0 40px;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-bottom: 30px;
}
.transport .your-address p{
	width: 100%;
}
.transport .your-address select{
	margin-bottom: 8px;
	width: 49%;
	height: 56px;
	color: #8DA291;
	padding: 17px 20px;
}
.transport .your-address .address-area{
	align-self: flex-start;
}
.transport input{
	width: 100%;
	height: 56px;
	padding: 20px;
}
.transport input::placeholder{
	padding: 17px 0px;
	color: #8DA291;

}
.transport .next-step{
	width: 100%;
	height: 65px;
	background-color: #eaf0ed;
	color: #3f5d45;
	border: none;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
}
.transport .next-step:hover{
	background-color: #ffe180;
	color: #3f5d45;
}
/* 付款頁面 */
.your-credit-card{
	width: 100%;
	margin: 0 40px;
}
.your-name .your-lastname{

	align-self: flex-end;
}
.validity-period{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 40px;
	padding-bottom: 30px;
}
.validity-period p{
	width: 100%;
}
.validity-period select{
	padding: 17px 20px;
	color: #8da291;

}
.validity-period option{
	font-size: 16px;
}
.validity-period .month{
	width: 49%;
	height: 56px;
}
.validity-period .year{
	width: 49%;
	height: 56px;
}
/* 發票頁面 */

.receipt{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.choise-receipt{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 16px 40px 0 40px;
	margin-bottom: 14px;

}
.choise-receipt button{
	width:50%;
	height: 56px;
	background-color: #3f5d45;
	color: #eaf0ed;
	border: 1px solid #eaf0ed;
	font-size: 20px;
	transition: all .5s;
}
.choise-receipt button:hover{
	cursor: pointer;
	box-shadow:1px 1px 3px 2px #8C9381 inset;
}
.choise-receipt button.click{
	background-color: #eaf0ed;
	color: #3f5d45;
}

.ele-receipt{
	width: 100%;
	padding: 0 40px 30px 40px;
}
.ele-receipt p{
	font-size: 20px;
	padding: 16px 0 8px 0;
}
.ele-receipt input::placeholder{
	font-size: 16px;
}
.ele-receipt.click{
	display: none;
}
.mail-receipt{
	width: 100%;
	padding: 0 40px 30px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.mail-receipt.click{
	display: none;
}
.mail-receipt p{
	font-size: 20px;
	padding: 16px 0 8px 0;
}
.mail-receipt div{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:flex-end;

}
.mail-receipt div input{
	width: 16px;
	height: 16px;
	margin-bottom: 8px;
}
.mail-receipt select{
	width:49% ;
	height: 56px;
	font-size: 16px;
	padding: 17px 0px 17px 20px;
	color: #8da291;
}
.mail-receipt select option{
	font-size: 16px;
	padding: 17px 20px;
	color: #8da291;
}
.mail-receipt input::placeholder{
	font-size: 16px;
}

/* checkout頁面右側欄目 */
.your-order-summary.checkout-1,.your-shopping-list{
	background-color: #ffffff;
	border: 1px solid #eaf0ed;
	color: #8da291;
}
@media(max-width: 945px){
	.your-order-summary.checkout-1,.your-shopping-list{
		width: 300px;
		margin-left: 20px;
	}
}
@media(max-width: 858px){
	.your-order-summary.checkout-1,.your-shopping-list{
		display: none;
	}
}
.your-order-summary.checkout-1{
	margin-bottom: 20px;
}
.your-order-summary.checkout-1 h2{
	width: 100%;
	height: 65px;
	background-color: #eaf0ed;
	color: #8da291;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
.your-shopping-list{
	width: 300px;
	margin-left: 20px;
	
}
.your-shopping-list h2{
	width: 100%;
	height: 65px;
	background-color: #eaf0ed;
	color: #8da291;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.your-shopping-list ul{
	width: 100%;
	padding: 16px 16px 0px 16px;
}
.your-shopping-list li{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: flex-start;
	padding-bottom: 16px;

}
.your-shopping-list span{
	display: block ;
	margin-right: 20px;
}
#shopping-list-bg1{
	width: 120px;
	height: 80px;
	background-image: url('../images/your-dessert-cart-1(127x159).jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
#shopping-list-bg2{
	width: 120px;
	height: 80px;
	background-image: url('../images/your-dessert-cart-2(119x151).jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
#shopping-list-bg3{
	width: 120px;
	height: 80px;
	background-image: url('../images/your-dessert-cart-3(119x80).jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.your-shopping-list ul li div{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-self: center;
	font-size: 20px;
}
.your-shopping-list ul li div p:nth-child(1){
	font-size: 16px;
	margin-bottom: 2px;
}

/* 交易成功頁面 */
.checkout-success-container{
	max-width: 100%;
	height: 520px;
	margin:0 42px 60px 42px;
	background-image: url('../images/banner-checkout-success(1499x1004).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #3f5d45;
}
@media(max-width: 767px){
	.checkout-success-container{
		margin: 0;
	}
}
.checkout-success-main{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}
.your-process{
	margin: 0 auto;
	text-align: center;
	width: 190px;
	height: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 32px;
}
.your-process .circle{
	width: 20px;
	height: 20px;
	position: relative;
	
	background-color: #3f5d45;
	border-radius: 50px;
	z-index: 5;
}
.your-process .circle::after{
	content: "";
	width: 6px;
	height: 12px;
	top: 50%;
	left: 50%;
	position: absolute;
	border-right: 2px solid #eaf0ed;
	border-bottom: 2px solid #eaf0ed;
	transform: translate(-50%, -50%) rotate(45deg);
	z-index: 10;
}
.your-process .bar{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: #3f5d45;
}
.checkout-success-container h2{
	margin: 0 auto;
	margin-bottom: 51px;
	font-size: 45px;
	font-weight: bold;
}
.checkout-success-container a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	width: 300px;
	height: 56px;
	background-color: #ffe180;
	color: #3f5d45;
	transition: all .5s;
}
.checkout-success-container a:hover{
	background-color: #3f5d45;
	color: #ffe180;
}
/* 表尾 */

.footer{
	width: 100%;
	height: 457px;
	background-color: #EAF0ED;
	overflow: hidden;

}
@media(max-width: 767px){
	.footer{
		height: auto;
	}
}
@media(max-width: 767px){
	.subscription{
		max-width: 100%;
		height: auto;
		flex-wrap: wrap;
		justify-content: stretch;
	}
}
.subscription{
	width: 100%;
	height: 116px;
	background-color: #3f5d45;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 122px;

}
@media(max-width: 858px){
	.subscription{
		padding: 30px 50px;
	}
}
@media(max-width: 767px){
	.subscription{
		height: auto;
		flex-wrap: wrap;
		justify-content: stretch;
		padding: 30px;
	}
}
.subscription div{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
}
@media(max-width: 767px){
	.subscription div{
		height: 56px;
		justify-content: center;
		margin-bottom: 20px;
	}
}
.subscription img{
	width: 40px;
	height: auto;
	margin-right: 20px;
}

.subscription p{

	font-size: 24px;
	color: #eaf0ed;
	font-family:Helvetica Neue, Regular;

}

.subscription form{
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:stretch;
}

@media(max-width: 767px){
	.subscription form{
		width: 100%;
		justify-content: center;
	}
}
.fas.fa-envelope{
	color: #3f5d45;
	background-color: #ffffff;
	height: 100%;
	font-size: 24px;
	padding: 16px 0px 16px 20px;
}
.subscription form input{
	max-width: 316px;
	
	border: none;
	padding: 16px 20px;
	position: relative;
}
@media(max-width: 980px){
	.subscription form input{
		max-width: 316px;
	}
}
@media(max-width: 767px){
	.subscription form input{
		width: 100%;
	}
}
.subscription form input:focus{
	outline: none;
}

.subscription button{
	background-color: #FFE180;
	width: 64px;
	border: none;
}
.subscription button i{
	font-size: 16px;
	color: #3f5d45;
}

.footer-contain{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	height: 341px;
	padding: 30px 0px 30px 120px;
}
@media(max-width: 767px){
	.footer-contain{
		flex-direction: column;
		padding: 0 30px;
		margin-bottom: 30px;
		height: auto;
	}
}
.contact{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.contact img{
	width: 170px;
	height: auto;
}
@media(max-width: 767px){
	.contact img{
		width: 100%;
		min-width: 172px;
		min-height: 26px;
		margin: 30px 0;
	}
}
.contact ul li{
	line-height: 24px;
	font-size: 16px;
	color: #3f5d45;
	font-family: Helvetica Neue, Regular;
}
.social-link{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.social-link a{
	display: block;
	text-decoration: none;
	margin-top: 30px;
	width: 32px;
	height: 100%;
}
@media(max-width: 767px){
	.social-link a{
		margin: 0;
	}
}
.social-link a:nth-child(1){
	color: #eaf0ed;
	margin-right: 8px;
	border-radius: 3px;

}
.social-link img{
	width: 100%;
}
@media(max-width: 767px){
	.social-link img{
		min-width: 16px;
		min-height: 16px;
	}
}
.copyright{
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	color: #3f5d45;
	font-weight: bold;
}
.copyright img{
	width: 320px;
	margin-bottom: 46px;
	align-self: flex-end;
}
@media(max-width: 767px){
	.copyright img{
		display: none;
	}
}
.copyright p{
	padding-right: 128px;
	width: 100%;
	height: 16px;
	align-self: flex-start;
	font-size: 16px;
}

